.body {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    h1 {
        width: 100%;
        text-align: center;
        margin-top: 2.5rem;
        font-size: 2.5rem;
        font-weight: 700;
    }
    a {
        display: flex;
        justify-content: center;
        color: var(--my-minor);
        &:hover {
            color: var(--my-secondary);
        }
        .icon_contact {
            svg {
                display: inline;
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
        .text_contact {
            text-decoration: underline;
        }
    }
    h2 {
        width: 100%;
        text-align: center;
        margin-top: 15px;
        font-size: 2rem;
        font-weight: 500;
    }
    ul {
        margin-top: 1rem;
        li {
            list-style: inside;
            font-size: 0.9rem;
        }
    }
    .exp_item {
        h3 {
            font-size: 1.5rem;
            font-weight: 700;
        }
        .categoria {
            p {
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }
    .form_item {
        margin-top: 8px;
        h3, p {
            margin: 0;
            padding: 0;
        }
        h3 {
            font-size: 1.2rem;
            font-weight: 700;
        }
        .categoria {
            margin: 0;
            padding: 0;
            p {
                color: #6c757d;
                font-size: 0.9rem;
            }
        }
    }
    .link_item, .tec_item {
        p {
            span {
                margin-left: 10px;
                &.name {
                    text-decoration: underline;
                }
                svg {
                    display: inline;
                }
            }
        }
    }
    .tec_item {
        padding: 5px 10px;
    }
    .downloader {
        border-radius: 50%;
        // border: 1px solid var(--my-minor);
        padding: 1px;
        width: 40px;
        height: 40px;
        position: fixed;
        bottom: 40px;
        right: 40px;
        svg {
            cursor: pointer;
        }
    }
}